body {
    width: 100%;
    background-color: #eff8e2;
}
nav {
    padding: 20px;
}
.actionButton{
    margin-left: 2px;
    margin-right: 2px;
}
#dataTable, #createButtonDiv {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.MyLabel {
    width: 30%;
    max-width: 200px;
}
.MyInput {
    max-width: 200px;
}
.MyLabel, .MyInput {
    display: inline-block;
    margin: 5px;
}